*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-family: 'Karla', sans-serif;
    font-family: 'Merriweather', serif;

}
/* <<<<<<< HEAD */


body {
background: linear-gradient(to bottom, #F7CE68, #FBAB7E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
min-height: 100vh;
}

.card {
    width: 325px;
    height: 120px;
    background-color: #031D44;
    border-radius: 14px 0px 14px 0px;
    display: flex;

}

.info {
    width: 70%;
}

.image{
    width: 50%;
    height: 120px;
    background-image: url("https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2018/08/Greek-Salad-6-1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 14px 0px 0px 0px;
}
.content{
    width: 50%;
    display: flex;
    color:white;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.shortDesc{
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shortDesc h2{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.5;

}

.shortDesc p,i{
    font-family: 'Merriweather', serif;
    font-size: 8px;
    font-weight: 400;
}
.shop{
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    width: 25%;
    color: #F7CE68;
    line-height: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.quantity{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.quantity .minus{
    background-color: white;
    border: none;
    border-radius: 14px 0px 0px 14px;
}

.quantity .plus{
    background-color: white;
    border: none;
    border-radius: 0px 14px 14px 0px;
}
.quantity input{
    width: 30px;
    border: none;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
} */

.cart-button{
    background: none;
    border : none;
    color: #F7CE68;
    padding-bottom: 10px;
}
a:visited{
    color:inherit;
}
.cart-button i{
    font-size: 20px;
}
.longDesc {
    visibility: hidden;
}
/* ======= */


.Header{
    margin-inline: 2%;
    background-color: bisque;

}
.Header .Top-Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;

}
.Header .Top-Top h1{
    margin-top: 30px;

}
.Header .Top-Top a img{
    height: 100px;
    width: 150px;
    float: left;
}

.Top-Top .buttons{
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: space-around;
}
.Cart{
    margin-right: 10px;
    width: 60px;
    height: 40px;
    background-color: orange;
}
.Theme{
    margin-right: 10px;
    width: 60px;
    height: 40px;
    background-color: darkgray;

}








.Header .Top-List ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Header .Top-List img{
    width: 60px;
    height: 60px;
}




.Main-Content aside{
    float: left;
    width: 17%;
    margin-left: 1%;
}
.Main-Content aside .TopFilter{
    background-color: #031D44;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin-top: 60px;

}

.Main-Content aside .Filter{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 30px;
    justify-content: flex-start;

    /* background-image: url("img/Filter.png");
    background-repeat: no-repeat;
    background-position: right; */
}
.Main-Content  .Filters{
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 40px;
}


.checkbox-label {
    display: flex;
    align-items: center;
    padding-top: 50px;
  }
  
.checkbox-input {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(204, 204, 204);
    margin-right: 20px;
    border-radius: 3px;
    background-color: #031D44;
    cursor: pointer;
}

.checkbox-input:checked + .checkbox-custom:before {
    content: "\2713";
    font-family: "Font Awesome Solid";
    font-size: 20px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 12px;
}
  


.Main-Content section{
    float: right;
    width: 80%;
    margin-right: 1%;

}

    

.Main-Content .card-container ul{
    list-style: none;
    width: 100%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.Main-Content .card-container li{
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    

}
.Main-Content .card-container img{
    width: 150px;
    height: 150px;
    border-radius: 20px;

}


.Bottom-Content{
    width: 100%;
    float: inline-end;
}

.Bottom-Content .App-Download{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    /* border: 3px solid red; */
    height: 50px;
}

.Bottom-Content .App-Download img{
    width: 50px;
    height: 50px;
}


.Bottom-Content footer{
    color: slategray;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



@media screen and (max-width:1000px) {
    .Main-Content .card-container ul{
        list-style: none;
        width: 100%;
        margin: 4rem auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .Main-Content section{
        margin-top: 400px;
        width: 90%;
        margin-inline: 5%;
    
    }
    
    .Main-Content aside{
        width: 98%;
        height: 200px;
        margin-inline: 1%;
    }
    .Main-Content aside .TopFilter{
        background-color: #031D44;
        width: 100%;
        height: 400px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        margin-block: 20px;
    }
    .Main-Content  .Filters{
        display: flex;
        flex-direction: row;
        color: rgb(32, 23, 11);
        padding-top: 30px;
        padding-left: 40px;
    }
    .Filter{
        width: 90%;
    }
    .Filters {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-right: 300px;


        /* flex-wrap: wrap; */
    }
      
    .checkbox-label {
        display: inline-block;
        margin-right: 40px;
        margin-bottom: 20px;
    }
              
    

}
@media screen and (min-width: 1001px) and (max-width: 1460px){
    .Main-Content .card-container ul{
        list-style: none;
        width: 100%;
        margin: 4rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .Main-Content section{
        margin-top: 400px;
        width: 90%;
        margin-inline: 5%;
    
    }

    .Main-Content aside{
        width: 98%;
        height: 200px;
        margin-inline: 1%;
    }
    .Main-Content aside .Filter{
        background-color: #031D44;
        width: 100%;
        height: 150px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        margin-block: 20px;
    }

    
}
/* >>>>>>> origin/awaw */