* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-family: "Merriweather", serif;
}
/* <<<<<<< HEAD */
:root {
  --background: linear-gradient(to bottom, #f7ce68, #fbab7e);
  --text-color: #000;
  --TopFilter-color: #031d44;
  --Footer-color: #031d44;
  --Card-color: #031d44;
  --TopTop-color: white;
}

body {
  background: var(--background);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.dark-mode {
  --background: #222;
  --text-color: #fff;
  --TopFilter-color: #5a5a5a;
  --Footer-color: #5a5a5a;
  --Card-color: #5a5a5a;
  --TopTop-color: #b8b8b8;
}

/* body {
background: linear-gradient(to bottom, #F7CE68, #FBAB7E);
min-height: 100vh;
background-repeat: no-repeat;
} */

.card {
  width: 375px;
  height: 140px;
  background-color: var(--Card-color);
  border-radius: 14px 0px 14px 0px;
  display: flex;
  filter: drop-shadow(5px 5px 10px #412c20ad);
}

.info {
  width: 70%;
  
}

.content {
  width: 50%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.shortDesc {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shortDesc h2 {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.shortDesc p {
  font-family: "Merriweather", serif;
  font-size: 10px;
  font-weight: 100;
}
.shortDesc i {
  font-size: 14px;
}
.shop {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  width: 25%;
  color: #f7ce68;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;
}
.quantity {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Karla", sans-serif;
}
.shop i:hover {
  color: #fbab7e;
}
.minus {
  background-color: white;
  border: none;
  border-radius: 14px 0px 0px 14px;
}

.plus {
  background-color: white;
  border: none;
  border-radius: 0px 14px 14px 0px;
}
.quantity input {
  width: 30px;
  border: none;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
} */

.cart-button {
  background: none;
  border: none;
  color: #f7ce68;
  padding-bottom: 10px;
}
a:visited {
  color: inherit;
}
.cart-button i {
  font-size: 20px;
}
.longDesc {
  display: none;
  font-family: "Merriweather", serif;
  font-size: 10px;
  font-weight: 100;
  color: white;
  padding: 10px;
  height: 100%;
}

.Header {
  background-color: white;
  color: #031d44;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.Header .Top-Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--TopTop-color);
  filter: drop-shadow(0px 10px 10px #412c2085);
}
.Header .Top-Top h1 {
  font-family: "Karla", sans-serif;
}
.Header .Top-Top a img {
  height: 100px;
  width: 150px;
  float: left;
}

.Top-Top .buttons {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: space-around;
}
.Cart {
  margin-right: 10px;
  width: 60px;
  height: 40px;
  background-color: orange;
}
.Theme {
  margin-right: 10px;
  width: 60px;
  height: 40px;
  background-color: darkgray;
}
.Top-Top i {
  margin-right: 10px;
}

.Top-Top i:hover {
  color: #fbab7e;
}

.Top-Top #search {
  margin-right: 10px;
  border-radius: 15px;
  border: #031d44 solid 2px;
  font-family: "Karla", sans-serif;
  padding: 5px;
  font-weight: 600;
}

.Main-Content {
  display: flex;
  flex-wrap: nowrap;
  /* margin-top: 20px; */
}

.Main-Content aside {
  margin-left: 20px;
  margin-top: 130px;
}
.TopFilter {
  background-color: var(--TopFilter-color);
  width: 100%;
  height: 600px;
  border-radius: 20px;
  margin-right: 20px;
  filter: drop-shadow(0px 3px 10px #412c207b);
}

.Main-Content aside .Filter {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-left: 20px;
  justify-content: flex-start;
}
.Main-Content .Filters {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 20px;
}

.Filters i {
  font-size: 14px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(204, 204, 204);
  margin-right: 20px;
  border-radius: 3px;
  background-color: #031d44;
  cursor: pointer;
}

.checkbox-input:checked + .checkbox-custom:before {
  content: "\2713";
  font-family: "Font Awesome Solid";
  font-size: 20px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 12px;
}

aside label {
  margin-right: 20px;
}

/* .Main-Content section {
  float: right;
  width: 80%;
  margin-right: 1%;
} */

.Main-Content #card-container {
  list-style: none;
  width: 100%;
  align-items: space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 20px;
  margin-top: 130px;
  margin-bottom: 80px;
  margin-right: 20px;
}

/* .Bottom-Content{
    width: 100%;
    display: flex;
    float: -end;
} */

.Bottom-Content .App-Download {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
}

.Bottom-Content .App-Download img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

footer {
  background-color: var(--Footer-color);
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom:0px;
}

footer p {
  font-size: 10px;
  font-family: "Karla", sans-serif;
}
.Bottom-Content {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Bottom-Content .App-Download {
  margin-left: 50px;
}

#shopAddition {
  position: fixed;
  top: 110px;
  background-color: #031d44;
  padding: 20px;
  color: white;
  min-width: 40vw;
  display: flex;
  /* margin: 0px 10vw 0px 10vw; */
  min-height: 30vh;
  flex-direction: column;
  align-items: center;
  right: 40px;
  /* z-index: 1; */
}
#shopAddition h2 {
  margin-bottom: 20px;
  font-family: "Karla", sans-serif;
  color: #f7ce68;
}
#shopAddition table {
  border-spacing: 20px;
}
#shopAddition input {
  width: 50px;
  text-align: center;
  font-family: "Karla", sans-serif;
  border: none;
}
#shopAddition td {
  font-family: "Karla", sans-serif;
  /* display: flex; */
  /* justify-content: center; */
}
#shopAddition tfoot tr:nth-child(1) {
    font-size: 24px;
    text-align: center;
  }
  #shopAddition thead tr:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
/*Class that hides/shows divs when callend via js*/
.div-hidden{
    display: none;
}
.div-visible{
    display: flex;
}

@media screen and (max-width: 450px) {
  .Main-Content {
    display: flex;
    flex-wrap: wrap;
  }
  .TopFilter {
    width: 96vw;
    height: auto;
    margin: 0px;
  }
  .Top-Top h1 {
    font-size: 14px;
  }
  .Header {
    width: 100vw;
  }
  .Header .Top-Top a img {
    height: 60px;
    width: 80px;
  }
  .Top-Top i {
    margin-right: 10px;
    font-size: 14px;
  }
  .Top-Top input {
    width: 25vw;
  }
  .Main-Content aside {
    margin-top: 70px;
    width: 95vw;
    margin-left: 0px;
    display: flex;
  }
  .checkbox-label {
    padding-top: 10px;
  }
  .Main-Content aside .Filter {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .Main-Content .Filters {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Main-Content {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  section {
    display: flex;
    justify-content: center;
  }
  .Main-Content section #card-container {
    display: flex;
    justify-content: center;
    margin: 25px 0px 80px 0px;
    
  }
}


